* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.join_section {
  background: url("../assets/images/BG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1400px;
  margin: auto;
}

.automation_section {
  background: url("../assets/images/Automation.png");
  background-repeat: no-repeat;
  background-size: 100% calc(100% - 33rem);
  background-position: bottom;
}
