* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.join_section {
  background: url("../assets/images/BG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1400px;
  margin: auto;
}
